@media screen and (max-width: 576px){

    .menu-container.active .menu-background{
        width: 550px;
    }

    .menu-container.active .link:nth-child(1){
        transform: translateX(-80px);
    }

    .menu-container.active .link:nth-child(3){
        font-size: 15px;
        transform: translateX(70px);
    }

    .menu-container.active .link:nth-child(4){
        transform: translateX(80px);
    }

    .nav-menu{
        gap: 10px;
    }

    .home{
        width: 90%;
        height: 90vh;
    }

    .right__block{
        width: 30%;
    }

    .block__fundo-img{
        display: none;
    }

    .block__info h1{
        font-size: 38px;
    }

    .block__info p{
        font-size: 17px;
    }

    .info__welcome{
        width: 18vh;
        height: 45px;
    }

    .info__welcome h2{
        width: 17.4vh;
        height: 40px;
        font-size: 20px;
    }

    .button__enter{
        width: 12rem;
        height: 2.5rem;
        font-size: 14px;
    }

    .info__curriculo{
        font-size: 18px;
    }

    .about__left{
        display: none;
    }

    .about__right{
        display: flex;
        align-items: center;
        justify-content: end;
        height: 70vh;
    }

    .about__redirection{
        height: 60vh;
    }

    .about{
        height: 95vh;
    }

    .about__text-information{
        width: 100%;
    }

    .ability{
        height: 190vh;
    }

    .ability__card-menu{
        padding-top: 30px;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 10px);
        gap: 2rem;
        width: 100%;
    }

    .ability__card{
        width: 400px;
    }

    .ability__card-small{
        height: 120px;
    }

    .ability__card-small i{
        font-size: 7rem;
    }

    .ability__text{
        padding: 20px 0px 50px 0px;
    }

    .project{
        height: 170vh;
    }

    .project__top h1{
        font-size: 3rem;
    }

    .project__block{
        padding-top: 40px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .block__portfolio{
        width: 400px;
        height: 300px;
    }

    footer{
        height: 12rem;
    }

    .footer__top{
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__icons{
        display: flex;
        justify-content: center;
    }

    .footer__top a > img{
        display: none;
    }

    .page__about{
        display: flex;
        flex-direction: column;
        height: 200vh;
    }

    .page__about-left{
        transform: translateY(40rem);
    }

    .page__about-info{
        display: none;
    }

    .page__about-inform{
        width: 80%;
        align-items: center;
    }

    .page__about-inform p{
        text-align: center;
        width: 30rem;
    }

    .page__about-right{
        transform: translateY(-36rem);
    }

    .PA__block-img{
        width: 400px;
        height: 500px;
    }

    .PA__block-img img{
        width: 400px;
        height: 500px;
    }
    
    .page__about-bottom{
        justify-content: end;
        height: 60vh;
        padding-top: 40px;
    }

    .ability__title-about h1{
        font-size: 50px;
    }

    .my__ability{
        width: 90%;
        grid-template-columns: repeat(4, 110px);
        gap: 2rem;
    }

    .social-bar{
        padding-left: 50px;
    }


    .page__project{
        grid-template-columns: repeat(2, 250px);
    }

    .page__project-card{
        width: 250px;
    }

    .page__contact{
        width: 80%;
    }

    form{
        z-index: 2;
    }
    
    #ropeCanvas{
        top: -5%;
        height: 100;
        z-index: -1;
    }

}


@media screen and (min-width: 577px) and (max-width: 768px){

    .right__block{
        width: 30%;
    }

    .block__fundo-img img{
        display: none;
    }

    .block__info h1{
        font-size: 40px;
    }

    .block__info p{
        font-size: 17px;
    }

    .info__welcome{
        width: 18vh;
        height: 45px;
    }

    .info__welcome h2{
        width: 17.4vh;
        height: 40px;
        font-size: 20px;
    }

    .button__enter{
        width: 12rem;
        height: 2.5rem;
        font-size: 14px;
    }

    .info__curriculo{
        font-size: 18px;
    }

    .about__left{
        display: none;
    }

    .about__right{
        display: flex;
        align-items: center;
        justify-content: end;
        height: 55vh;
    }

    .about__redirection{
        height: 60vh;
    }

    .about{
        height: 80vh;
    }

    .ability{
        height: 140vh;
    }

    .ability__card-menu{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 10px);
        gap: 2rem;
        width: 100%;
    }

    .ability__card{
        width: 350px;
    }

    .ability__card-small{
        height: 100px;
    }

    .ability__card-small i{
        font-size: 5rem;
    }

    .ability__text{
        padding: 10px 0px 50px 0px;
    }

    .project__block{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .block__portfolio{
        width: 350px;
        height: 250px;
    }

    .page__about{
        display: flex;
        flex-direction: column;
        height: 190vh;
    }

    .page__about-left{
        transform: translateY(44rem);
    }

    .page__about-info{
        display: none;
    }

    .page__about-inform{
        width: 80%;
        align-items: center;
    }

    .page__about-inform p{
        text-align: center;
    }

    .page__about-right{
        transform: translateY(-30rem);
    }
    
    .page__about-bottom{
        justify-content: end;
        height: 60vh;
        padding-top: 40px;
    }

    .my__ability{
        width: 90%;
        grid-template-columns: repeat(5, 110px);
        gap: 2rem;
    }

    .social-bar{
        padding-left: 50px;
    }

    .page__project{
        grid-template-columns: repeat(2, 300px);
    }

}

@media screen and (min-width: 769px) and (max-width: 1150px){
    .rope-container{
        left: 90%;
    }

    .home{
        width: 90%;
    }

    .block__info h1{
        font-size: 40px;
    }

    .block__info p{
        font-size: 15px;
    }

    .button__enter{
        width: 13rem;
    }

    .block__fundo-img{
        width: 400px;
    }

    .block__fundo-img img{
        width: 400px;
        height: 600px;
    }

    .follow-text{
        font-size: 18px;
    }

    .line{
        height: 130px;
    }

    /*about*/

    .about__left{
        width: 100%;
    }

    .about__block-img{
        width: 500px;
    }

    .about__block-img img{
        width: 500px;
        height: 500px;
    }

    .about__right p{
        width: 90%;
    }

    .about__text-information{
        width: 100%;
    }

    .about__top h1{
        font-size: 70px;
    }

    .about__top h3{
        font-size: 35px;
    }

    /*ability*/

    .ability__top h1{
        font-size: 85px;
    }

    .ability__top h3{
        font-size: 35px;
    }

    .ability__card{
        width: 350px;
    }

    .ability__card-small{
        width: 190px;
        height: 100px;
    }

    .ability__card-small i{
        font-size: 6rem;
    }

    .ability__text{
        padding: 10px 0px 50px 0px;
    }

    /*project*/

    .page__about{
        height: 140vh;
    }

    .project__top h1{
        font-size: 3.5rem;
    }

    .project__block{
        width: 80%;
    }

    /*page about*/

    .page__about-left{
        height: 100vh;
    }

    .page__about-inform{
        width: 70%;
    }

    .page__about-inform p{
        width: 30rem;
    }

    .page__about-right{
        height: 100vh;
    }

    .PA__block-img{
        width: 500px;
        height: 600px;
    }

    .PA__block-img img{
        width: 500px;
        height: 600px;
    }

    .my__ability{
        grid-template-columns: repeat(6, 150px);
    }
}

@media screen and (min-width: 1150px) and (max-width: 1500px){
    .home{
        width: 90%;
    }

    /*about*/

    .about__left{
        width: 90%;
    }

    .about__right{
        width: 80%;
    }

    /*ability*/

    .ability__card{
        width: 400px;
    }

    /*page about*/

    .page__about{
        height: 140vh;
    }

    .page__about-left{
        height: 100vh;
        width: 90%;
    }

    .page__about-inform{
        width: 60%;
    }

    .page__about-right{
        height: 100vh;
    }

    .page__about-bottom{
        width: 80vw;
    }

    .my__ability{
        grid-template-columns: repeat(8, 160px);
    }
}